<footer class="footer mt-5 py-2">

    <div class="container">

        <div class="d-flex">
            <div class="col-2 pt-4">
                <a href="https://www.instagram.com/fg_perf" target="_blank"><i class="fab fa-instagram fa-lg fa-3x"></i></a>
            </div>

            <div class="col-8"></div>

            <div class="text-center col-2 pt-2">
                <a href="{{ path('contact') }}">Contact</a>
                <br>
                <a href="{{ path('mention_legales') }}">Mentions légales</a>
                <br>
                <a href="{{ path('c_g_u') }}">C.G.U</a>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center font-italic small">Copyright &copy; {{ 'now' | date("Y") }} | FG Perf</div>

    </div>

</footer>