{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<h1 class="my-4 text-center">Mentions légales</h1>

<h6>Présentation</h6>

<p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site www.fg-perf.com l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi : </p>

    <p>Propriétaire : Fouad Gueblaoui </p>
    <p>Entrepreneur individuel</p>
    <p>Siège social : 15 rue carnot 95480 PIERRELAYE</p>
    <p>Siret : 84098397700017</p>
    <p>N° TVA Intracommunautaire : FR82840983977</p>
    <p>RCS Pontoise</p>
    <p>Code NAF / APE : 8551Z (enseignement de disciplines sportive et d'activité de loisirs)</p>
    <p>Créateur : Hyndi Fannir</p>
    <p>Responsable publication : FG Perf – fouad.gueblaoui@gmail.com</p>
    <p>Webmaster : Hyfannir – hyndi@hyfannir.com</p>
    <p>Hébergeur : </p>


{% endblock %}
